@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

body{
    font-family: 'Zen Dots', cursive;
    background-color: #dbf6e9;
}

header{
    background-color: #ffc93c;
}
header{
     height: 90px;

}
.src_nav_img{
position: relative;
left: 60px;
bottom: 35px;
}
header a{
    margin-left: 100px; 
    text-decoration: none;
    color: #9a8c98;
    padding: auto;
}
a:hover{
 background-color: coral;
}
.img_sal{
    padding-left: 30px;
    width: 80px;
    height: 80px;
    display: block;

}
.imf_fam{
    position: relative;
    margin-left: 210px;
}

.main_sec{
    display: block;
    align-items: center;
}
.h1_cla{
    text-align: center;
}
h1{
    align-items: center;
    color: #b67162;
}
h2{
    color: blue;
}
td,th{
    border: 1px solid blue;
    border-radius: 10%;
}
th{
    background-color: #f08080;
}
td{
    padding: 5px;
    background-color: #fbc4ab;
}
p{
    color: #b67162;
    font-weight: 800px;
}
.main_SEC{
    margin-left: 50px;
}


footer{
    height: 60px;
    background-color: #31326f;
}
.art_form{
    position: relative;
    left: 10px;
    margin: auto;
    width: 400px;
    height: 400px;
    padding-top: 10px;
   background-color: #ffddd2;
   margin-bottom: 20px;
   border-radius: 7%;
}
fieldset{
border: none;
padding: 20px 30px;
margin:20px 30px;
}
legend{
    margin-top: 15px;
}
label{
    margin-top: 10px;
}
button{
 border-radius: 10%;
 background-color: #ddbea9;
 transition: 350ms;
}
button:hover{
    background-color: #f4978e;
}
table{
    border-radius: 7%;
    border: #8a817c;
}
