@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

body{
    font-family: 'Zen Dots', cursive;

}

h1{
    color: blue;
}
h2{
    color: blue;
}
td,th{
    border: 1px solid blue;
}
td{
    padding: 5px;
}
